@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #F7F9FC;
}
nav{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.5vh;
    background-color: #EDF2FC;
}
nav img{
    width: 3%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin:0 1rem;
}
nav h1{
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;
}
#main{
    height: 92dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}
#searchbox{
    width: 90%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchbox input{
    width:60%;
    font-size: 1.2rem;
    outline: none;
    padding:0 .5rem;
}
#searchbox button{
    margin: 1rem;
    font-size: 1rem;
    padding: 0 0.5rem;
    background: transparent;
    border-radius: .2rem;
    cursor: pointer;
}
p{
    width: 90%;
}
@media only screen and (max-width: 950px) {

   
    html{
        font-size: 90% !important;
    }
    nav img{
        width: 6%;
    }
  }
  @media only screen and (max-width: 650px) {

   
    html{
        font-size: 80% !important;
    }
    #searchbox{
        width:100% !important;
    }
    #searchbox input{
        width:80%;
    }
    #logo{
        font-size: 1.5rem;
    }
    nav img{
        width: 8%;
    }
  }

